@import "fonts"
@import "libs"
@import "css-reset"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100vh

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $Com
	overflow: hidden
	color: white
	opacity: 1
	margin: 0
	background-color: black


.img-responsive
	display: block
	max-width: 100%
	height: auto

section
	display: flex
	align-items: baseline
	width: 100%
	margin: 0
	background-color: black

.shadow
	position: absolute
	height: 100%
	width: 100%
	top: 0
	transition: all 1s 
	background-color: rgba(0,0,0,0)
	visibility: hidden

.shadow-show
	background-color: rgba(0,0,0,0.8)	
	visibility: visible

.shadow-projects
	z-index: 3
.shadow-clients
	z-index: 1
	
#logo
	width: 68px
	height: 68px
	margin: 25px
	margin-left: 0
	transition: all 1s ease-in
	opacity: 0
.logo-show
	opacity: 1 !important

h1
	transition: all 2s ease-in-out
	font-family: "Heading", sans-serif
	letter-spacing: 200px
	line-height: 10px
	opacity: 0
	font-size: 80px
	font-weight: 700
	margin-bottom: 20px
	span
		white-space: nowrap
.h1-show
	letter-spacing: 5px
	line-height: 90px
	opacity: 1

.about-us-text
	transition: all 2s ease-in-out
	font-family: $Com
	margin-left: -80vh
	font-size: 16px
	font-weight: 300
	opacity: 0
	line-height: 120px
	letter-spacing: 100px
	white-space: nowrap
.about-us-text-show
	line-height: 25px
	letter-spacing: 0px
	opacity: 1
	margin: 0

p
	font-family: $Com
	font-size: 13px
	font-weight: 300

h5
	font-family: $Com
	font-size: 14px
	font-weight: 700
	margin-bottom: 10px
	text-transform: uppercase

a
	@extend p
	color: white
	text-decoration: none

.btn
	font-family: $Com
	font-size: 20px
	font-weight: 700
	padding: 5px 29px
	border-radius: 12px
	border: 1px solid white
	transition: all 1s
	&:hover
		border: 1px solid black
		color: black
		background-color: white

.wr
	height: 100%
	margin: 0px $border 0px $border
	display: flex
	flex-direction: column
	justify-content: space-between

.label
	font-size: 20px
	display: inline-block
	transition: all 1s
	cursor: pointer

//Page styles
#main
	z-index: 2
	height: 100vh - $border
	.wr	
		flex-direction: column
		justify-content: space-between
		.box
			// margin: $border 0 auto 0
			margin-top: 5vh
			margin-bottom: auto

#contacts
	z-index: 2
	position: absolute
	background-color: rgba(0,0,0,0)
	bottom: 0
	width: 100%
	border-top: 1px solid white
	height: $border
	transition: $borderAppear
	transform: translateY(250px)
	.wr
		width: 100%
		border-right: 0px solid white
		display: flex
		flex-direction: row
		align-items: center
		justify-content: space-between
		.info
			display: flex
			.box
				display: flex
				flex-direction: column
				margin: 0 50px

	#clients-box
		z-index: 3
		position: absolute
		bottom: $border
		width: 100%
		transition: all 0.5s
		// height: 0px
		// background-color: white
		background-color: rgba(0,0,0,0)

		#clients-label
			text-align: center
			width: auto
			margin: 10px 0px
			.label
				// &::before
				// 	content: ""
				// 	background-color: white
				// 	width: 15px
				// 	height: 2px
				// 	margin-left: 21px
				// 	margin-bottom: 2px
				// 	display: block
				// 	margin-right: 25px
				// 	border-radius: 2px
				// 	transform: rotate(-20deg)
				// 	pointer-events: none
				// 	transition: all 0.5s ease-in-out

				// &::after
				// 	content: ""
				// 	background-color: white
				// 	width: 15px
				// 	height: 2px
				// 	display: block
				// 	margin-left: 34px
				// 	margin-top: -37px
				// 	border-radius: 2px
				// 	transform: rotate(20deg)
				// 	pointer-events: none
				// 	transition: all 0.5s ease-in-out
				
		#clients-content
			display: none
			.wr
				width: auto
				display: flex
				flex-wrap: wrap
				justify-content: space-around
				align-items: none
				margin-bottom: 20px
				.clients
					width: 250px
					height: 100px
					margin: 30px	
					object-fit: contain
					filter: grayscale(100%)
					transition: all 1s ease-in-out
					&:hover
						filter: grayscale(0%)

.contacts-show
	transform: translateY(0px) !important

//Opened clients

.clients-box-opened
	// height: inherit
	background-color: white !important

.clients-label-opened
	color: black !important
	.label
		&::before
			background-color: black !important
			transform: rotate(20deg) !important
			margin-bottom: -35px !important
		&::after
			background-color: black !important
			transform: rotate(-20deg) !important
			margin-top: 0px !important

.clients-content-opened
	display: flex !important

//OPened projects
#projects-box
	border-right: 1px solid white
	box-sizing: content-box
	transition: $borderAppear
	transform: translateX(250px)
	width: 70px
	position: absolute
	display: flex
	height: 100vh
	right: $border
	z-index: 3
	#projects-label
		margin: auto
		transform: rotate(-90deg)
		#projects
			color: white
	#projects-content
		transition: all 50ms ease-in
		display: flex
		visibility: hidden
		height: 100vh
		flex-direction: column
		align-items: center
		margin-right: 85px
		.projects
			width: 120px
			height: 120px
			margin: 20px
			opacity: 0
			visibility: hidden

.projects-box-opened
	background-color: white !important

.projects-content-opened
	visibility: visible !important
	.projects
		transition: 1s all 50ms ease-in-out !important
		visibility: visible !important
		opacity: 1 !important
		color: white !important

.projects-opened
	color: black !important

.projects-box-show
	transform: translateX(0px)

@import "media" // Всегда в конце
