@import "fonts"
@import "libs"
@import "css-reset"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100vh

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $Com
	overflow: hidden
	color: white
	opacity: 1
	margin: 0
	background-color: black


.img-responsive
	display: block
	max-width: 100%
	height: auto

section
	display: flex
	align-items: baseline
	width: 100%
	margin: 0
	background-color: black

.shadow
	position: absolute
	height: 100%
	width: 100%
	top: 0
	transition: all 1s
	background-color: rgba(0,0,0,0)
	visibility: hidden
	z-index: 1

.shadow-show
	background-color: rgba(0,0,0,0.8)	
	visibility: visible

.shadow-projects
	z-index: 4
	
.shadow-clients
	z-index: 2
	
#logo
	width: 68px
	height: 68px
	margin: 25px
	margin-left: 0
	transition: all 1s ease-in
	opacity: 0
.logo-show
	opacity: 1 !important

h1
	transition: all 2s ease-in-out
	font-family: "Heading", sans-serif
	letter-spacing: 200px
	line-height: 10px
	opacity: 0
	font-size: 80px
	font-weight: 700
	margin-bottom: 20px
	span
		white-space: nowrap
.h1-show
	letter-spacing: 5px
	line-height: 90px
	opacity: 1

.about-us-text
	transition: all 2s ease-in-out
	font-family: $Com
	margin-left: -80vh
	font-size: 16px
	font-weight: 300
	opacity: 0
	line-height: 120px
	letter-spacing: 100px
	white-space: nowrap
.about-us-text-show
	line-height: 25px
	letter-spacing: 0px
	opacity: 1
	margin: 0
	padding-bottom: 35px

p
	font-family: $Com
	font-size: 13px
	font-weight: 300

h5
	font-family: $Com
	font-size: 14px
	font-weight: 700
	margin-bottom: 10px
	text-transform: uppercase

a
	@extend p
	color: white
	text-decoration: none

.btn
	font-family: $Com
	font-size: 16px
	font-weight: 700
	padding: 5px 29px
	border-radius: 8px
	border: 1px solid white
	flex-wrap: nowrap
	transition: all 1s
	white-space: nowrap
	&:hover
		border: 1px solid black
		color: black
		background-color: white

.wr
	height: 100%
	width: 100%
	margin: 0px $border 0px $border
	display: flex
	flex-direction: column
	justify-content: space-between

.label
	font-size: 20px
	display: inline-block
	transition: all 1s
	cursor: pointer

//Main section
#main
	// z-index: 2
	height: 100vh - $border
	.wr	
		flex-direction: column
		justify-content: space-between
		.box
			margin-top: 5vh
			margin-bottom: auto
#store
	transition: all 1s ease
	opacity: 0
.store-show
	opacity: 1 !important



///Section contacts

#contacts
	// z-index: 2
	position: absolute
	background-color: rgba(0,0,0,0)
	bottom: 0
	width: 100%
	border-top: 1px solid white
	height: $border
	transition: $borderAppear
	transform: translateY(250px)
	.wr
		width: 100%
		flex-direction: row
		border-right: 0px solid white
		display: flex
		align-items: center
		justify-content: space-between
		.info
			display: flex
			.box
				display: flex
				flex-direction: column
			    align-items: flex-start
				margin: 0 50px
				h5
				white-space: nowrap
		.box
			display: flex
			flex-flow: row wrap
			align-items: flex-start

.contacts-show
	transform: translateY(0px) !important	

@import "clients"
@import "projects"

@import "media" // Всегда в конце
